
/hibernateExamples/HibernateExamples/HibernateExamples.iml
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QtCreator files
*.pro.user
/src/Qubic.pro.user.*
/src/**/*.ts
/src/**/*.qm
/src/*.bat


# idea_folder
.idea/

# build
build/
docs/
out/
!out/resources
include/