# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QtCreator files
*.pro.user
*.bat
*.ts
*.qm


# idea_folder
.idea/

# build
build/
docs/
out/
include/